<div id="accordion-<%= dom_id(item) %>" data-controller="toggle">
  <h2 id="accordion-toggle-<%= dom_id(item) %>">
    <button type="button" class="flex items-center font-medium gap-1" data-action="toggle#toggle">
      <svg class="w-6 h-6" data-toggle-target="item" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <svg class="hidden w-6 h-6" data-toggle-target="item" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <span><%= item_name %></span>
    </button>
  </h2>
  <div id="accordion-body-<%= dom_id(item) %>" class="hidden -mt-1" data-toggle-target="item">
    <%= yield %>
  </div>
</div>